<div class="mailbox-list">
  <h1>{{name}}</h1>
  <button data-command="fetch">Fetch mail</button>
  <div class="pagination">
    {{#prev}}
      <a rel="prev" href="{{prev}}">&laquo; Previous</a>
    {{/prev}}
    {{#next}}
      <a rel="next" href="{{next}}">Next &raquo;</a>
    {{/next}}
  </div>
  <div class="messages">
    {{#messages}}
      <div class="message" data-path="{{path}}">
        <div class="from" title="{{from.address}}">{{from.name}}</div>
        <div class="subject">{{subject}}</div>
        <div class="date" title="{{fullDate}}">{{date}}</div>
      </div>
    {{/messages}}
  </div>

  {{^messages}}
  <em>No messages.</em>
  {{/messages}}
</div>
